body{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    gap: 5em;
    align-items: center;

}
table{
    width: 40em;
}
table tr th,td{
    border: 1px solid lightgray;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    width: 20em;
    gap: 1em;
}
#imgval{
    width: 100px;
    height: 100px;
}